[Fougerite]
; uncomment to disable Fougerite, to disable version announce at login,
; or to enable structure and deployed item decay
;enabled=false
;tellversion=false
;deployabledecay=true
;structuredecay=true

[Modules]
;module = folder
; if a module needs no folder, just use any word, or no word
; you can change folder names to suit your needs
; only modules listed in [Modules] are loaded
; comment out a module to disable it
; Запись должна быть следующего вида: имя_модуля=папка_для_конфигов
; Загружаются только модули, перечисленные в разделе [Modules] 
; Закомментируйте строку с плагином чтобы отключить его
RustPP=Rust++
GlitchFix=GlitchFix
MagmaPlugin=Magma
JintPlugin=JsPlugins
IronPythonModule=PyPlugins
; Anticheat is a work in progress
;Anticheat=Anticheat
; ServerTests isn't needed when operating normally
;ServerTests=on

[Logging]
; Fougerite logs are in PublicFolder\Logs
debug=false
error=true
exception=true
